.key {
    max-width: 150px;
    overflow: hidden;
    border-bottom: 1px solid gray;
    border-right: 3px solid gray;
    background-color: rgba(146, 163, 219, 0.199)
}

tr {
    height: auto;
}

.BalanceSheet table {
    text-align: center;
    margin: 30px 0;
}