.Container {
    max-width: 900px;
    margin: auto;
    padding: 20px 20px;
    background: white;
    box-shadow: 0 0 10px 0 rgb(221, 221, 221);
    min-height: calc(100vh - 120px);
    position: relative;
    z-index: 5;
}