
.Stock_name {
    font-weight: bolder;
}

.Stock td img {
    height: 40px;
}

.Stock td {
    height: 100%;
    font-size: 20px;
    font-weight: bolder;
}

.MuiButton-containedPrimary {
    padding: 0;
}

