
.index {
    border-bottom: 1px solid gray;
    padding: 20px 0;
}

.Section_header {
    display: flex;
    align-items: center;
}

.StockDetail_child img {
    height: 40px;
    margin: 0 10px;
}

.subIndex {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-top: 0;
}

.index_logo {
    display: flex;
    align-items: flex-end;
}

.bigger {
    font-size: 50px;
}

.index_logo img {
    height: 50px;
}

.index_price {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    align-items: end;
}

.no-button {
    background-color: white;
    border: none;
    cursor: pointer;
}